# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, secrets, etc)
local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/

# Output files & Keystores
*.apk
*.aab
*.ap_
*.keystore
*.jks

# Antigravity & System generated
.agents/
.gemini/
brain/
scratch/

# OS specific files
.DS_Store
Thumbs.db
